    func init<# Module #>UI(initParams: <# Module #>UIInitParams) -> <# Module #>UI! {
        let viewController = <# Module #>ViewController.newInstance() as <# Module #>UI

        return viewController
    }
