//
//  <# Module #>UI.swift
//  <# Project Name #>
//
//  Created by <# Author #> on <# Date #>.
//  Copyright © <# Year #> <# Copy Right #>. All rights reserved.
//

import Foundation

protocol <# Module #>UI: class, <# Module #>ManagerDelegate {
    static func newInstance() -> <# Module #>UI!

    var manager: <# Module #>Manager! { get set }

    func dismissUI()
}
